:host{
	display: block;
	margin: 10px 0px;
	box-shadow: 0 1px 3px #666;
	overflow: hidden;
}

.car {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	.img {
		position: relative;
		padding: 10px;
		flex-basis: 44%;
		max-width: 360px;
		img {
			width: 100%;
			min-height: 120px;
		}
		.tag {
			position: absolute;
			padding: 3px 6px;
			border-radius: 20px;
			background: #E91D63;
			color: #fff;
			font-size: 12px;
		}
		.price {
			top: 10px;
			right: 10px;
			padding: 5px 10px;
		}
		.fuel {
			left: 10px;
			bottom: 10px;
		}
		.cartype {
			bottom:10px;
			right: 10px;
		}
	}
	.details{
		flex: auto;
		flex-basis: 36%;
		padding: 10px 20px;
		color: #fff;
		.name {
			font-size: 1.5rem;
			margin: 0px;
			line-height: 2.5rem;
		}
		.location {
			display: flex;
			align-items: center;
			line-height: 2rem;
			small {
				font-size: 14px;
			}
		}
	}
	transition: all .1s ease-in;
	button {
		flex-basis: 20%;
		max-width: 200px;
	}
	&.selected {
		background: #393939;
	}
	@media only screen and (max-width: 730px) {
		display: block;
		.img {
			margin: auto;
		}
		button {
			width: 100%;
			max-width: none;
		}
	}
}